<ion-header >
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='default'>

  <div >
    <ion-button (click)='selectImage()' >
      Submit
    </ion-button>
  </div>

  <div style="border: 1px solid red;">
    <ion-row *ngIf='dummyArray.length == 1'>
      <ion-col  style="border: 1px solid green; width: 100%; height: 50px;"></ion-col>
    </ion-row>

    <ion-row *ngIf='dummyArray.length == 2'>
      <ion-col size=6 style="border: 1px solid blue; height: 50px;"></ion-col>
      <ion-col size=6 style="border: 1px solid blue;height: 50px;"></ion-col>
    </ion-row>

    <div >
      <ion-text style="display: block;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
      </ion-text>
    </div>

    <div>
      <ion-row class="ion-text-center">
        <ion-col size=4>
          Like
        </ion-col>
        <ion-col size=4 (click)="onCommentClick()"> 
          Comments
        </ion-col>
        <ion-col size=4 (click)='onShareClick()'>
          Share
        </ion-col>
      </ion-row>
    </div>

  </div>


  <br>
  
  <div class="ion-text-center">
    <ion-text>
      <p>
        Lunch: <strong>{{lunch | json}}</strong>
      </p>
    </ion-text>
    <ion-text>
      <p>
        Dinner (modal Data): <strong>{{dinner | json}}</strong> 
      </p>
    </ion-text>
    <ion-button expande='block' shape='rounded' (click)='openModal()  ' >Open Modal</ion-button>
    <ion-button color="primary" expande="full" (click)='openModalWithData()' >Open Modal and Pass Data</ion-button>
  </div>


  <br>

  <ion-item>
    <ion-label>Sam</ion-label>
    <ion-toggle (ionChange)='onToggleClick($event)' checked="false"></ion-toggle>
  </ion-item>

  <ion-button (click)='loadContacts()' expand='full'>Load Contact</ion-button>
  <ion-button (click)='createContact()' expand='full'>Create Contact</ion-button>

  <ion-list *ngFor='let c of contactList'>
    <ion-item-sliding>
      <ion-item>
        <ion-label>
          {{c?.name?.givenName}} <b> {{c?.name?.familyName}}</b>
          <p>
            {{c?.phoneNumbers[0]?.value}}
          </p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>


  <div class="ion-text-center">
    <ion-button (click)='ocrFun()'>OCR</ion-button>
  </div>

  <div class="ion-text-center">
    <ion-button (click)='graph()'>Graph</ion-button>
  </div>

  <div class="ion-text-center">
    <ion-button (click)='QRScanner()'>QR Scanner</ion-button>
  </div>

  <div class="ion-text-center">
    <ion-button (click)='circulerProgress()'>Ciirculer Progress</ion-button>
  </div>

  <div class="ion-text-center">
    <ion-button (click)='callNumber()'>Call Number</ion-button>
  </div>

  <div class="ion-text-center">
    <ion-button (click)='callPadometer()'>Padometer</ion-button>
  </div>

  <div class="ion-text-center">
    <ion-button (click)='stepCount()'>Step Count</ion-button>
  </div>

</ion-content>
